/*---- Generaly element selectors ----*/
html {
    background-image: url("../Images/competition.jpg");
    background-attachment: fixed;
}
body {
    margin          : 0 auto;
    padding         : 20px;
    margin-top      : 60px;
    background-color: #f7f7f7;
    font-size       : 16px;   
    font-family     : DejaVu Serif; 
    min-height      : calc(100vh - 70px);    
    width           : 70vw;  
    display         : table;  
}
body *::selection {
    background-color: #000;
    color           : #fff;    
}
* {
    outline         : none;
}
:root {    
    --main-color     : #3622e6; 
}
/*---- HEADER ----*/
.header {    
    width           : calc( 100% - 20px );
    padding         : 0 10px;    
    min-height      : 60px;
    background-color: white;     
    box-shadow      : 0 5px 10px #ddd;
    font-size       : 16px;    
    position        : fixed;
    top             : 0;  
    left            : 0;  
    user-select     : none; /* Standard syntax */
    -ms-user-select : none; /* IE 10+ and Edge */
    -webkit-user-select: none; /* Safari */
}
.header > span {    
    font-size       : 40px;
    line-height     : 40px;
    margin-top      : 10px;
    margin-bottom   : 10px;
    margin-right    : 20px;    
    margin-left     : 10;    
    float           : left;
    text-shadow     : 2px 2px #aaa;  
}
.header > a.active {
    border-bottom   : 2px solid var(--main-color);    
    height          : 1.2em;         
}
.header > a {
    position        : relative;
    padding         : 20px 15px;
    display         : inline-block;
    text-decoration : none;
    color           : #000;
    transition      : background-color 0.2s ease-in-out, color 60s ease-in;
}
.header > a.about {
    float           : right;
}
.header > a:hover:not(.active) { 
    background-color: #eee;
    color           : #fff;
    border-radius   : 10px;
    padding         : 15px 15px;
    margin          : 5px 0;
}

/*---- Home page ----*/
.wellcome-container {    
    text-align      : center;
    margin          : 50px auto;         
}


/*---- About ----*/
.about-container {
    font-size       : 20px;
    text-align      : center;
    width           : 60%;
    margin          : 50px auto;      
}
.about-container:last-child {
    font-style      : italic;
}
.about-container .name-plate {
    letter-spacing  : 0.5em;
    font-size       : 50px;
    padding-bottom  : 50px;      
}
.about-container .name-plate::first-letter {
    color           : var(--main-color);
    font-size       : 1.2em;
}

/*---- ERROR ----*/
.error-cont {
    margin          : auto;
    padding         : 120px 0;    
    text-align      : center;    
    display         : table;
    font-size       : 20px;       
    color           : #555;
}
.error-cont > span {
    color           : var(--main-color);
    font-size       : 2em;
}

/*---- 404 ----*/
._404-msg{
    margin-top      : 100px;
    text-align      : center;
    white-space     : pre;
    color           : #555;
}
._404-msg > span:first-of-type {
    color           : var(--main-color);
    font-size       : 3em;
    font-family     : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style      : italic;
}
._404-msg > span:last-of-type {       
    display         : block;
    margin-top      : 10vh;
}
._404-msg span > b {
    color           : var(--main-color);
}

/*---- Buttons ----*/
.btn {
    border          : none;
    border-radius   : 4px;
    padding         : 4px 10px;
    box-shadow      : 2px 2px 5px #ddd;
    text-decoration : none;
}
.btn-grn {
    background-image: linear-gradient(to bottom, rgb(129, 179, 129), rgb(0, 167, 0));
    color           : white;
}
.btn-rng {
    background-image: linear-gradient(to bottom, rgb(248, 180, 53), rgb(255, 140, 0));
    color           : white;
}
.btn-rd {
    background-image: linear-gradient(to bottom, rgb(255, 0, 0), rgb(184, 0, 0));
    color           : white;
}


/*---- Table ----*/
.table {
    width           : 90%;
    margin          : auto;
}

.table th, 
.table td {
    line-height     : 60px;
    text-align      : center;
} 
.table td {
    border-bottom   : 1px solid #eee;
}

/*---- FeedBack ----*/
#main-msg {
    text-align      : center;
    font-size       : 30px;
}
.succ-msg {
    color           : #090;
}
.err-msg {
    color           : #fff;
    background-color: red;
}